.main_about{
    color: aliceblue;
    height:43vh;
    width:100%;
    text-align: left;    
    background-image: linear-gradient(to left, rgba(8, 154, 141, 0.9) 30%, rgba(6, 124, 134, 0.7) 60%);    
}
a{
color: aliceblue;    
}
.inner_about{
    height:43vh;
    width:100%;
}
.info{    
    width: 100%;
    height:35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    flex-flow: row wrap;
}
.get_connected{
    width:30%;
    height: 70%;
}
.get_connected>p,.get_connected>h1 ,.direction>p,.direction>h1{
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 2%;
    padding: 0;
}
.media_list{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    gap: 5%;
    padding: 0;
    margin-top: 5%;
    list-style:none;
    
}
.direction{
    height: 70%;
}
.name_r{
    justify-content : space-around;
    text-align:center;
    height:2%;
    width:100%;
   }
   .name_r>p{
    margin: 0;
    padding: 0;
    margin-block-start: 2%;
    margin-block-end: 0;
   }
.mob_direction{
    display: none;
}
   @media only screen and (max-width: 768px) {
    /* For mobile phones: */
 .get_connected{
    width:90%;
 }
 .mob_direction{
    display: inline;
}
    .direction{
    display: none;
 }  
}